#cita {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.art{
    border: solid;
    border-color:#01202E ;
    border-radius: 0%;
    border-width: 1px;
    color: #C0C4C6;
}

#articulo2 {


}

#capas {
    width: 100%;
    height: 800px;
}

#parallax {}

.divImagen {}

.img {
    width: 20%;
    height: 20%;
}

.imagenArt {
    width: 20%;
    height: 20%;
}

.contenidoTexto {
    height: 500%;
}

.parrafo {
    height: 55%;
}
.parrafoArticulo{
    text-align: center;
}
.menu {
    /* width: 23%;
    height: 23%; */
}

.text-responsive {
    font-size: calc(6% + 1vw + 1vh);
}


.btnFooter{
    border-color:#01202E ;
    border-radius: 0%;
    border-width: 5px;
    background-Color: #012332;
    color: #C0C4C6;
}