#header {
    display: flex;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;

}

#logo_text {
    margin-left: 2%;

}

#logo_text a {
    text-decoration: none;
    cursor: default;
    font-size: 240%;

}

#logo_text h2 {
    text-decoration: none;
    cursor: default;
    color: #b5897c
}

#menu li {
    padding: 0 20px 0 5px;
    list-style: none;
    text-decoration: none;
    background-color: #5e4237;
    padding: 0px 20px 0px 16px;
    margin-right: 2%;
    line-height: 60px;
    height: 50px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;

}

#menu li:hover {
    background-color: #b5897c;
}

#menu a {
    text-decoration: none;

}

#site_content {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#content_header {
    margin-top: 2%;
}

#banner {
    background-image: url("../img/banner.jpg");
    width: 95%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #DDD;
    margin: 0 auto;

}

#site_content {
    margin-top: 2%;

}

.sidebar {
    padding-block-end: 2%;
}

#sidebar_container {
    width: 27%;
    margin-left: 2%;

}

.sidebar_item h4 {
    color: #b5897c;
    text-transform: uppercase;
    font-family: 'century gothic', arial;
    font-size: 100%;
}

.sidebar_item h5 {
    font-family: 'arial';
    font-size: 75%;
    color: gray;

}

.sidebar_item {
    border: black solid 1px;
    border-radius: 20px;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 175%;
    line-height: 160%;
}

.linksUtiles ul {
    padding-left: 15%;

}

.linksUtiles {
    border: black solid 1px;
    border-radius: 20px;
    padding-right: 10%;
    font-size: 175%;

}

.linksUtiles h3 {
    text-align: left;
    padding-left: 12%;
}

#content h1 {
    font-size: 155%;

}

#content h2 {
    font-size: 155%;
    color: #b5897c;

}

#content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5%;
    font-size: 175%;
    line-height: 190%;


}

p,
ul,
li,
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif #FFF #555;
}

h1,
h2,
h3,
h4,
h5 {
    font: #362C20;
}

h1,
h2,
h3 {
    font-family: 'century gothic', arial;
}

.linksUtiles a {
    color: #b5897c
}

.linksUtiles a:hover {
    color: #5e4237;

}

a {
    color: white;
}


#header {
    background-color: #2D2D2D;
    display: flex;
    width: 95%;
    border-left: 15px solid;
    border-right: 15px solid;
    margin: 0 auto;

}

#logo {
    background-color: #2D2D2D;
}

#menubar {
    background-color: #3D3D3D;

}

.sidebar ul,
li {
    list-style-image: url(../img/bullet.png);
}


#footer {
    background-color: black;
    height: 10em;
    margin-block-end: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}