/* hover encima de cartas, cartas clicables con símbolo en el ratón
Al pasar ratón por encima y poderse clicar, la carta debería estar señalada
Al clicar carta se da la vuelta. Si hemos clicado una carta y son iguales las dos se quedan con opacidad completa.
Dos cartas que no son iguales se voltean ambas. */
.baraja {
  width: 7.5in;
  margin: 20px auto;
}

.carta {
  opacity: 0.7;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 14em;
  border-radius: 15px;
  transition: all 1s;
}


.carta>div {

  width: 100%;
  height: 14em;
  position: absolute;
  top: 0;
  left: 0;
}

.reves,
.adelante {
  background-repeat: no-repeat;
  background-size: cover;
}

.reves {
  background-image: url('./img/reverso.jpg');
  z-index: 1;
  transition: all 0.5s;
}

.adelante {
  z-index: 0;
  transition: all 0.5s;
}

.anversoAtras {
  z-index: 0;
  background-image: url('./img/carta.png');
  transition: all 0.5s;
}
.anversoAdelante {
  z-index: 0;
  background-image: url('./img/carta.png');
  transition: all 0.5s;
}

.reversoAdelante {
  z-index: 10;
  background-image: url('./img/reverso.png');
  transition: all 0.5s;
}
.reversoAtras {
  z-index: 0;
  background-image: url('./img/reverso.png');
  transition: all 0.5s;
}

#cartaDiv1 .adelante {
  background-image: url('./img/carta.png');
}
#cartaDiv2 .adelante {
  background-image: url('./img/carta.png');
}
#cartaDiv3 .adelante {
  background-image: url('./img/carta.png');
}

.carta:hover {
  opacity: 1;
  cursor: pointer;
}

.carta.girada:hover {
  cursor: default;
}

.girada {
  opacity: 1;
  transform: rotateY(180deg);
}

.girada .anverso {
  z-index: 1;
}

.girada .reverso {
  z-index: 0;
}

.correcta{

}